<!-- Es obligatorio el uso de background: inherit; en el div, esto por cuestiones de un error de css-->
<div style="background: inherit; height: 100%;">
  <div class="example-button-row">   
      <button mat-button>Basic</button>
      <!-- Como se puede determinar, los colores de las letras de los botones cambiaran según las 
      paletas definidas-->
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, fugit minima a reprehenderit voluptatem illum dolores minus voluptas illo quam facere accusamus tempore sit, magni adipisci temporibus quidem atque consectetur.</p>
 
  <div class="example-button-row">    
      <br>
      <button mat-raised-button (click)="onSetTheme('light-theme')">Light Theme</button>
      <button mat-raised-button (click)="onSetTheme('dark-theme')">Dark Theme</button>
  </div>
</div>