@import '~@angular/material/theming';
@include mat-core();

/* Tema claro */
/* Los colores se pueden definir, por defecto angular tiene una paleta de colores
ubicada en la carpeta node_modules/@angular/material/_theming.scss, en diicho archivo
se encuentran los colores definidos, se pueden modificar si se desean. */
/* Existen 5 modos importantes, sin embargo, los más relevantes son los primeros 3,
conocidos como primary, accent y warn.*/
$change-style-angular-light-material-primary: mat-palette($mat-orange, 600);
$change-style-angular-light-material-accent: mat-palette($mat-blue, 800);
$change-style-angular-light-material-warn: mat-palette($mat-red, 500);

$change-style-angular-light-material-theme: mat-light-theme((
  color: (
    primary: $change-style-angular-light-material-primary,
    accent: $change-style-angular-light-material-accent,
    warn: $change-style-angular-light-material-warn,
  )
));

/* Tema Oscuro */
$change-style-angular-dark-material-primary: mat-palette($mat-green, A200);
$change-style-angular-dark-material-accent: mat-palette($mat-purple, A700);
$change-style-angular-dark-material-warn: mat-palette($mat-red, A400);


$change-style-angular-dark-material-theme: mat-dark-theme((
  color: (
    primary: $change-style-angular-dark-material-primary,
    accent: $change-style-angular-dark-material-accent,
    warn: $change-style-angular-dark-material-warn,
  )
));

/*
Se hace uso de una clase que es llamada desde la app-root, respectivamente haciendo modificaciones
como se desee, los colores antes mencionados, primary, accent y warn se adaptan a lo definido previamente.
*/
.light-theme{ 
  @include angular-material-theme($change-style-angular-light-material-theme);
  background: #fff;
  color: #222;
}

/*
Al igual que la clase clara, se hace uso del mismo procedimiento para la clase oscura, sin embargo, cuenta
con un detalle, se tiene que agregar en style:"backgroun: inherit;" para su funcionalidad, esto
por un error de css.
*/
.dark-theme{ 
  @include angular-material-theme($change-style-angular-dark-material-theme);
  background: #222;
  color: #fff;
}

html, body { height: 100%;}
body { margin: 0; }
